.header{
    position: fixed;
    right: 25px;
    top: 15px;
    z-index: 100;
    .menu{
        max-width: 400px;
        height: 650px;
        background-color:#f55e41;
        border-radius: 25px;
        position: relative;
    }
}