@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #f55e41;
  --light-grey: #848483;
  --dark-grey: #3b3b3b;
  --green: #0b2921;
  --white: #f5f5f5;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../../public/OTF/Satoshi-Regular.otf');
}

body{
  background-color: var(--white);
  color: var(--dark-grey);
  font-family: 'Satoshi', sans-serif;
  max-width: 2560px;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


.clip_path-container {
  clip-path: inset(50% 50%);
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
}
.parentTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

@media only screen and (max-width: 900px) {
  .parent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 1269px) {
  .parentTwo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .parentTwo {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
  }
}


.trin {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}


